{% extends 'admin/base.html.twig' %}

{% block title %}
    Liste d'articles
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('admin_article_insert')}}" class="btn bg-warning">Créer un nouvel Article</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% for article in articles %}
            <div class="row article-block align-items-center">
                {{ include('_article.html.twig') }}
                <div class="col-12 text-center col-lg-2 offset-sm-4">
                    <div class="option-block">
                        <a href="{{ path('admin_article_update', {'id' : article.id }) }}" class="btn bg-warning">Modifier</a>
                        <a href="{{ path('admin_article_delete', {'id' : article.id }) }}" class="btn bg-warning">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}