{% extends 'admin/base.html.twig' %}

{% block title %}
    Offres
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-3 offset-1">
                <a href="{{ path('admin_offre_list_magic') }}"><h2>Magic the Gathering</h2></a>
            </div>
            <div class="col-3 offset-1">
                <a href="{{ path('admin_offre_list_pokemon') }}"><h2>Pokémon</h2></a>
            </div>
            <div class="col-3 offset-1">
                <a href="{{ path('admin_offre_list_yugioh') }}"><h2>Yu-Gi-Oh</h2></a>
            </div>
        </div>
    </div>
{% endblock %}