header {
  background-color: black;
  color: white;
  padding: 1rem;
}

.logo-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 5rem;
}

.name-site {
  text-transform: capitalize;
  font-style: italic;
  font-size: 20px;
}

.menu-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-desktop {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu-desktop li {
  margin: 0.5rem;
}
.menu-desktop li a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.menu-desktop li a:hover {
  color: yellow;
}

.header-mobile {
  display: none;
  list-style: none !important;
}
.header-mobile li {
  list-style: none;
}
.header-mobile li a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}
.header-mobile li a:hover {
  color: yellow;
}

.d-b {
  display: none;
}

.icons {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  border: 3px solid white;
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
}
footer {
  background-color: black;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}

.logo-footer {
  display: flex;
  align-items: center;
}
.logo-footer img {
  height: 150px;
}
.logo-footer .name-site-footer {
  font-size: 25px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
}

.contact-block {
  border-left: 1px solid white;
  padding: 0.5rem;
  margin: 0.5rem;
}
.contact-block p {
  margin: 0;
  padding: 0;
}

.option-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article-block {
  border: 1px solid black;
  background-color: white;
  margin-top: 1rem;
}

.block-image {
  margin: 1rem;
}
.block-image img {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 500px) {
  .article-block {
    align-items: center;
  }
}
.article-show {
  padding-top: 1rem;
}

.article-box {
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
}
.article-box img {
  height: 200px;
  width: 400px;
}

@media screen and (max-width: 500px) {
  .article-box img {
    height: 100px;
    width: 100px;
  }
}
.article-insert {
  padding-top: 1rem;
}

.bloc-formulaire {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.demande {
  padding-top: 1rem;
  height: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bloc-list-choice {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
}
.bloc-list-choice img {
  height: 5rem;
  width: 10rem;
}
.bloc-list-choice a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .demande {
    height: 50rem;
  }
  .bloc-list-choice {
    margin: 2rem;
  }
}
.demande-list {
  padding-top: 1rem;
}

.annonce-line {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}
.annonce-line a {
  color: black;
}

.demande-show {
  padding-top: 1rem;
  height: 25rem;
}

.demande-title {
  border: 1px solid black;
  background-color: white;
  margin: 0.5rem;
}

.demande-info {
  border: 1px solid black;
  background-color: white;
  margin: 0.5rem;
}

.demande-comment {
  border: 1px solid black;
  background-color: white;
  margin: 0.5rem;
}

@media screen and (max-width: 500px) {
  .demande-title {
    margin-top: 0.5rem;
    padding: 0;
  }
  .demande-info {
    margin-top: 1rem;
    padding: 0;
  }
  .demande-comment {
    margin-top: 0.5rem;
    padding: 0;
  }
}
.demande-insert {
  padding-top: 1rem;
}

.offre {
  padding-top: 1rem;
  height: 25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.offre-list {
  padding-top: 1rem;
}

.offre-show {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.offre-image {
  border: 1px solid black;
  background-color: white;
  margin: 0.5rem;
}

.offre-info {
  border: 1px solid black;
  background-color: white;
  margin: 0.5rem;
}

.offre-insert {
  padding-top: 1rem;
}

.user-insert {
  padding-top: 1rem;
}

.user-list {
  padding-top: 1rem;
}

.bloc-user {
  border: 1px solid black;
  background-color: white;
  margin: 1rem;
  padding: 0.5rem;
}

.user-profil {
  padding-top: 1rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloc-profil {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #E8891D;
  padding-bottom: 1rem;
}

.btn {
  margin: 0.5rem;
  background-color: yellow;
  color: black;
}

.message-error {
  background-color: red;
}

.message-success {
  background-color: green;
}

.title {
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  margin-top: 0.5rem;
}

.banner img {
  height: 350px;
  width: 100vw;
}

@media screen and (max-width: 500px) {
  .banner {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
