.article-list{
  padding-top: 1rem;
  min-height: 20rem;
}

.option-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article-block{
  @include box;
  margin-top: 1rem;
}

.block-image{
  margin: 1rem;
  img{
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  .article-block{
    align-items: center;
  }
}