.article-show{
  padding-top: 1rem;
}

.article-box{
  padding: 1rem;
  @include box;
  img{
    height: 200px;
    width: 400px;
  }
}



@media screen and (max-width: 500px) {
  .article-box img{
    height: 100px;
    width: 100px;
  }
}