.demande-show{
  padding-top: 1rem;
  min-height: 20rem;
}

.demande-title{
  @include box;

  margin: 0.5rem;
}

.demande-info{
  @include box;

  margin: 0.5rem;
}

.demande-comment{
  @include box;

  margin: 0.5rem;
}

@media screen and (max-width: 500px) {
  .demande-title{
    margin-top: 0.5rem;
    padding: 0;
  }
  .demande-info{
    margin-top: 1rem;
    padding: 0;
  }
  .demande-comment{
    margin-top: 0.5rem;
    padding: 0;
  }
}
