.offre-show{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.offre-image{
  border: 1px solid black;
  background-color: white;
  margin: 0.5rem;
}

.offre-info{
  border: 1px solid black;
  background-color: white;
  margin: 0.5rem;
}