@import 'variables';
@import 'mixins';

@import 'header';
@import "footer";
@import "login";

@import "articlelist";
@import "articleshow";
@import "articleinsert";

@import "demande";
@import "demandelist";
@import "demandeshow";
@import "demandeinsert";

@import "offre";
@import "offrelist";
@import "offreshow";
@import "offreinsert";

@import "userinsert";
@import "userlist";
@import "userprofil";

@import "search";
@import "register";


body{
  margin: 0;
  padding: 0;
}

main{
  background-color: $main-bg-clr;
  padding-bottom: 1rem;
}


.btn{
  @include btn;
}

.message-error{
  background-color: red;
}

.message-success{
  background-color: green;
}

.title{
  border: 1px solid black;
  background-color: white;
  padding: 1rem;
  margin-top: 0.5rem;
}

.presentation{
  h1{
    color: white;
  }
}


.banner img{
  border-bottom: 1px solid black;
  height: 350px;
  width: 100vw;
}


@media screen and (max-width: 500px) {
  .banner{
    display: none;
  }
}